.btn-primary {
    background-color: #00CC66;
    border-color: #00CC66;
}

@media only screen and(max-width:667px) {
    .deck {
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;

        .card {
            display: inline-block;
            width: 100%;
            height: auto;

            .card-img-top {
                object-fit: cover;
            }

            .card-body {
                
                width: 100%;

                .card-tilte {
                    
                    width: 100%;
                }

                .card-text {
                    
                    width: 100%;
                    word-break: break-word;
                    white-space:normal;
                }
            }
        }

    }
}