<div class="card-deck">
    <div class="card">
       <img class="card-img-top" src="assets/img/trojmorze.jpg" height="350" alt="Card image cap">
       <div class="card-body">
           <h5 class="card-title">Szukając rozwiązania dla Polski</h5>
             <p class="card-text">W idei Międzymorza skupia w sobie większość kwestii, które spędzają sen z powiek rozsądnym Polakom (a także Ukraińcom, Czechom, Rumunom czy Chorwatom).
        Radosław Pyffel, najbardziej znany w Polsce ekspert od...</p>
         <a routerLink="/show/0" class="btn btn-primary">Czytaj więcej</a>
    </div>
  </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/trojm-nieb.jpg" height="350" alt="Card image cap">
         <div class="card-body">
         <h5 class="card-title">Międzymorze jako droga do identytaryzmu ekonomicznego</h5>
          <p class="card-text">Coraz większą popularność zaczyna zdobywać sobie identytaryzm. Nic więc dziwnego, jest on prawidłową reakcją....</p>
        <a routerLink="/show/1" class="btn btn-primary">Czytaj więcej</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/trojmorze.jpg" height="350" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Czas zacząć myśleć samodzielnie. Najlepiej razem</h5>
              <p class="card-text">W umysłach części polskiej młodzieży zagnieździły się złe idee pochodzenia zewnętrznego. 
                Czas więc stworzyć idee własną aby wypchnąć te zewnętrzne....</p>
          <a routerLink="/articles" class="btn btn-primary">Czytaj więcej</a>
     </div>
  </div>
