.carousel {
    margin-top: 1%;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-left: 5%;
}


.btn-primary {
    background-color: #ff0000;
    border-color: #ff0000;
}


.card-deck {
    margin-top: 1%;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-left: 5%;
}

.text {
    color: white;
    text-decoration: none;
}