<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #ff0000;">
    <a class="navbar-brand" 
    [routerLink]="['/main']"
    [routerLinkActive]="'active'"
    >
      <img src="assets/img/logo3.png" width="50" height="50" alt="Miedzymorze"></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active"
        [routerLink]="['/articles']"
        [routerLinkActive]="'active'"
        >
        Artykuły
      </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"
        [routerLink]="['/movies']"
        [routerLinkActive]="'active'"
        >
        Filmy
      </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"
        [routerLink]="['/forum']"
        [routerLinkActive]="'active'"
        >
        Forum
      </a>
      </li>
      <li>
        <a class="nav-link active"
        [routerLink]="['/quiz']"
        [routerLinkActive]="'active'"
        >
          Quiz
        </a>
      </li>
      <li>
        <a class="nav-link" (click)="clickEvent()">{{Kontakt?"Kontakt":"Kliknąłeś"}}</a>
      </li>
    </ul>

    
    <form #formRef="ngForm" [FormGroup]="searchForm" class="form-inline" >
      <ng-container *ngIf="searchForm.get('query') as field">
        <ng-container *ngIf="field?.dirty">
          <p *ngIf="field?.hasError('required')" class="text-bad">
            Field is required
          </p>
          <p *ngIf="field?.hasError('minlength')" class="text-bad">
            Minimum length is
            {{ searchForm.get("query")?.getError("minlength").requiredLength }}
          </p>
          <p *ngIf="field?.hasError('censor')" class="text-bad">
            Cannot use words
            "{{ field?.getError("censor").badword }}"
          </p>
        </ng-container>
      </ng-container>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" formControlName="query">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><img src="assets/img/search.png" width="20" height="20" alt="Miedzymorze"></button>
    </form>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="assets/img/dropdown.png" width="40" height="40" alt="Miedzymorze">
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" target="_blank" href="https://www.youtube.com/channel/UCE9A5DjHjBPYdcPefrClxrw"><img src="assets/img/yt.png" width="40" height="40" alt="Miedzymorze"></a>
        <a class="dropdown-item" target="_blank" href="https://www.facebook.com/intermarism"><img src="assets/img/fb.png" width="40" height="40" alt="Miedzymorze"></a>
        <a class="dropdown-item" href="#"><img src="assets/img/tt.png" width="40" height="40" alt="Miedzymorze"></a>
      </div>
    </div>
  </nav>

