.navbar {
    height: 20%;
}

.sm-brand {
    width: 40px;
    height: 40px;
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
    margin-right: 5px;
    
}

.nav-link {
    font-size: 20px;
}

.btn {
    background-color: #ff0000;
    border: #ff0000;
}