<button type="button" id="forum-button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Dodaj swój komentarz
  </button>
  
  
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-body">
            <input class="form-control" type="text" maxlength="200" placeholder="Wpisz tekst" #comment>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button (click)="addComment(comment.value)" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group" *ngFor="let item of list">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
     
      <p class="mb-1">{{item.name}}</p>
      
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      
      <p class="mb-1">Cenimy twoją opinię, dziękujemy</p>
      
    </a>
  
   
  </div>